.table-container {
    margin: 20px 0;
  }

  .container{
    display: flex;
  }
  
  .table {
    border-collapse: collapse;
    background-color: #f8df8c;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
  }
  
  .table th,
  .table td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
  }
  
  .table th {
    background-color: #f2f2f2;
  }
  
  .table tr:hover {
    background-color: #ddd;
  }
  
  #month {
    padding: 8px;
    border-radius: 4px;
    margin-right: 10px;
    background-color: #ebb840;
    width: 250px;
  }
  
  #search {
    padding: 8px;
    border-radius: 50px;
    margin-right: 10px;
    background-color: #f8df8c;
    margin-left: 80px;
  }
  
  button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #4caf50; /* Green */
    color: white;
    cursor: pointer;
    margin-right: 10px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  .table img {
    max-width: 100px;
    max-height: 100px;
  }
  
  .pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .per-page,
  .page-number {
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .navigation button {
    
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #4caf50; /* Green */
    color: white;
    cursor: pointer;
  }
  
  .navigation button:hover {
    background-color: #45a049;
  }
  
  .navigation button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  .statistics-container {
    justify-content: center;
    border: 2px solid black;
    background-color: #edf6f6;
    border-radius: 10px;
    height: 300px;
    width: 500px;
    margin-top: 20px; 
    margin-left: auto;
    margin-right: auto;

  }
  .select-container{
    margin-top: 50px;
    padding-left: 30px;
  }
  .statistics-box{
    margin-top: 50px;
    background-color: #f8df8c;
    border-radius: 10px;
    width: 75%;
    height: 25%;
    padding-left: 30px;
    padding-top: 3cqh;
    margin-left: auto;
    margin-right: auto;
  }
  .bar-chart{
    height: 500px;
    width: 500px;
    border: 2px solid black;
    margin-top: 20px;
    background-color: #edf6f6;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;

  }
  .pie-chart {
    height: 500px;
    width: 500px;
    border: 2px solid black;
    margin-top: 20px;
    background-color: #edf6f6;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .select-label {
    padding-top: 10px;
  }
  
  .select-month {
    padding-top: 10px;
  }
  